In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Bank_Churn.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.shape

(10000, 14)

In [4]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [5]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [6]:
X = df.iloc[:, 3:13]
y = df['Exited']

In [7]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [9]:
# Creating Dummy variables
gender = pd.get_dummies(X['Gender'])
geography = pd.get_dummies(X['Geography'])

In [10]:
#Concatenating them back to the dataset
X = pd.concat([X,geography,gender], axis=1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [11]:
# Removing the Features not required
X = X.drop(['Geography', 'Gender'], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [14]:
X_train

array([[ 1.27754581, -1.23264342, -0.012743  , ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       [-0.49959477,  0.28410615,  0.33282985, ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       [ 0.67827747, -0.09508124, -1.39503438, ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       ...,
       [ 2.06279398, -0.28467494, -0.70388869, ..., -0.57138416,
        -0.9206384 ,  0.9206384 ],
       [-1.02653762,  1.42166833, -0.012743  , ..., -0.57138416,
        -0.9206384 ,  0.9206384 ],
       [ 0.03768029, -1.04304972,  0.67840269, ..., -0.57138416,
         1.0862028 , -1.0862028 ]])

## Creating an ANN

In [15]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten, Embedding, LeakyReLU, BatchNormalization,Dropout, Dense
from keras.activations import relu, sigmoid
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

Using TensorFlow backend.

## Using Hyper Parameter Optimization

In [19]:
 def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:                  # First layer or input layer
            model.add(Dense(nodes, input_dim=X_train.shape[1]))
            model.add(Activation(activation))       # Type of activation function on input layer
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))  # Should have a list of hidden neurons
            model.add(Activation(activation))
            model.add(Dropout(0.3))
    model.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid')) #Final output Layer
    # Compiling the ANN
    model.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return model

In [21]:
model = KerasClassifier(build_fn=create_model, verbose=0)

layers = [[40,20],[30,20],[45,30,15]]
activation = ['sigmoid','relu']

param_grid = dict(layers = layers, activation = activation, batch_size = [128,256], epochs = [30])

grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=5)
grid_result = grid.fit(X_train, y_train)

In [22]:
print(grid_result.best_params_) 
print(grid_result.best_score_)

{'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layers': [40, 20]}
0.85625

In [23]:
y_pred = grid_result.predict(X_test)
y_pred = y_pred > 0.5
y_pred[:5]

array([[False],
       [ True],
       [False],
       [False],
       [False]])

In [24]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1568,   49],
       [ 248,  135]], dtype=int64)

In [25]:
#Claclulating accuracy score
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
score

0.8515